@font-face {
  font-family: 'iconfont';  /* project id 1247506 */
  src: url('//at.alicdn.com/t/font_1247506_852zjy3bxg2.eot');
  src: url('//at.alicdn.com/t/font_1247506_852zjy3bxg2.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1247506_852zjy3bxg2.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1247506_852zjy3bxg2.woff') format('woff'),
  url('//at.alicdn.com/t/font_1247506_852zjy3bxg2.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1247506_852zjy3bxg2.svg#iconfont') format('svg');
}

